<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title v-if="!title">Atata Sample App</title>
    <template v-else>
        <title>{{ title }} - Atata Sample App</title>
    </template>
    <link rel="stylesheet" type="text/css" href="build/build.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#!/" class="navbar-brand">Atata Sample App</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul v-if="isAuthenticated" class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
                <ul v-else class="nav navbar-nav navbar-right">
                    <li v-bind:class="{ active: $route.path === '/signin' }">
                        <a v-link="'signin'">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <router-view></router-view>
    </div>
    <script src="build/build.js"></script>
</body>
</html>