<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>
