<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="page-header">
        <h1 class="text-center">Atata Sample App</h1>
    </div>
    <p>
        <strong>Based on Vue.js</strong>
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam pellentesque elit eget varius. Pellentesque vestibulum varius rhoncus. Sed vel hendrerit ligula, at iaculis urna. Phasellus massa nisi, commodo ac porttitor nec, bibendum vel lorem. Nunc consectetur massa a diam viverra, in ornare ligula dictum. Aenean libero eros, euismod et orci eget, sodales fermentum mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam molestie feugiat bibendum. Nunc non finibus enim. Donec eget fringilla dolor. Integer nec hendrerit arcu.
    </p>
    <p class="text-center">
        <a role="button" class="btn btn-lg btn-default" v-link="'/signin'">Sign In</a>
        <a role="button" class="btn btn-lg btn-default" v-link="'/signup'">Sign Up</a>
    </p>
</div>
