<div class="col-lg-8 col-lg-offset-2">
    <div class="page-header">
        <h1 class="text-center">{{ $root.title }}</h1>
    </div>
    <p>
        Please choose your payment plan.
    </p>
    <p>
        The provided information is just for testing purposes.
    </p>
    <div class="row">
        <div class="col-sm-4 plan-item">
            <h3>Basic</h3>
            <b class="price">$0</b> (FREE)
            <p>Number of projects: <b class="projects-num">1</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam pellentesque elit eget varius.</p>
            <ul class="feature-list">
                <li><span class="glyphicon glyphicon-ok"></span>Feature 1</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 2</li>
            </ul>
        </div>
        <div class="col-sm-4 plan-item">
            <h3>Plus</h3>
            <b class="price">$19.99</b> /month
            <p>Number of projects: <b class="projects-num">3</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam pellentesque elit eget varius.</p>
            <ul class="feature-list">
                <li><span class="glyphicon glyphicon-ok"></span>Feature 1</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 2</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 3</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 4</li>
            </ul>
        </div>
        <div class="col-sm-4 plan-item">
            <h3>Premium</h3>
            <b class="price">$49.99</b> /month
            <p>Number of projects: <b class="projects-num">10</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam pellentesque elit eget varius.</p>
            <ul class="feature-list">
                <li><span class="glyphicon glyphicon-ok"></span>Feature 1</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 2</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 3</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 4</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 5</li>
                <li><span class="glyphicon glyphicon-ok"></span>Feature 6</li>
            </ul>
        </div>
    </div>
</div>
