<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="page-header">
        <h1 class="text-center">{{ $root.title }}</h1>
    </div>
    <p>
        The provided information is just for testing purposes
    </p>
    <div class="row">
        <div class="col-md-4 plan-item">
            <h3>Basic</h3>
            <b class="price">FREE</b>
            <p>Number of projects: <b class="projects-num">1</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam pellentesque elit eget varius.</p>
        </div>
        <div class="col-md-4 plan-item">
            <h3>Plus</h3>
            <b class="price">$19.99</b> /month
            <p>Number of projects: <b class="projects-num">3</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam pellentesque elit eget varius.</p>
        </div>
        <div class="col-md-4 plan-item">
            <h3>Premium</h3>
            <b class="price">$49.99</b> /month
            <p>Number of projects: <b class="projects-num">10</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam pellentesque elit eget varius.</p>
        </div>
    </div>
</div>
