<div>
    <style scoped>
        th {
            min-width: 80px;
            background-color: #eee;
        }

        .table-container {
            overflow-x: auto;
        }

        .table-container table > tbody > tr > td {
            vertical-align: middle;
        }
    </style>

    <div class="page-header">
        <h1 class="text-center">{{ $root.title }}</h1>
    </div>
    <div class="table-container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center" rowspan="2">Name</th>
                    <th class="text-center" rowspan="2">E-mail</th>
                    <th class="text-center" rowspan="2">Start date</th>
                    <th class="text-center" rowspan="2">Location</th>
                    <th class="text-center" rowspan="2">City</th>
                    <th class="text-center" rowspan="2">Company</th>
                    <th class="text-center" rowspan="2">Work Category</th>
                    <th class="text-center" rowspan="2">Position</th>
                    <th class="text-center" rowspan="2">Expertise Level</th>
                    <th class="text-center" rowspan="2">Client</th>
                    <th class="text-center" rowspan="2">Project</th>

                    <th class="text-center" rowspan="2">Project work (paid)</th>
                    <th class="text-center" rowspan="2">Project work (unpaid)</th>
                    <th class="text-center" rowspan="2">Overtime</th>
                    <th class="text-center" rowspan="2">Holiday Hours</th>
                    <th class="text-center" rowspan="2">Paid time off</th>
                    <th class="text-center" rowspan="2">Unpaid time off</th>
                    <th class="text-center" rowspan="2">Sick leave</th>
                    <th class="text-center" rowspan="2">Business trip</th>
                    <th class="text-center" rowspan="2">Special time off</th>
                    <th class="text-center" rowspan="2">Paid time off (paid by client)</th>
                    <th class="text-center" rowspan="2">Total</th>
                    <th class="text-center" rowspan="2">Official Company Working Hours</th>
                    <th class="text-center" rowspan="2">Available Hours</th>
                    <th class="text-center" rowspan="2">Availability</th>
                    <th class="text-center" rowspan="2">Billable Hours</th>
                    <th class="text-center" rowspan="2">Billability</th>
                    <th class="text-center" rowspan="2">Rate (original currency)</th>
                    <th class="text-center" rowspan="2">Currency</th>
                    <th class="text-center" rowspan="2">Exchange Rate</th>
                    <th class="text-center" rowspan="2">Revenue (BGN)</th>
                    <th class="text-center" rowspan="2">Revenue Total (BGN)</th>
                    <th class="text-center" rowspan="2">Weighted AR (BGN)</th>
                    <th class="text-center" rowspan="2">Net Salary (BGN)</th>
                    <th class="text-center" rowspan="2">Total Employee Cost (BGN)</th>
                    <th class="text-center" rowspan="2">Additional Remuneration (BGN)</th>
                    <th class="text-center" rowspan="2">Direct Project Cost (BGN)</th>
                    <th class="text-center" rowspan="2">Direct Cost (BGN)</th>
                    <th class="text-center" rowspan="2">Gross Margin (BGN)</th>
                    <th class="text-center" rowspan="2">Gross Margin Percent (BGN)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-id="160" rowspan="2">John Smith</td>
                    <td rowspan="2">jsmith@example.com</td>
                    <td rowspan="2">2016-07-07</td>
                    <td rowspan="2">Head Office</td>
                    <td rowspan="2">London</td>

                    <td rowspan="2">OneStar</td>
                    <td rowspan="2">Direct</td>
                    <td rowspan="2">Admin Operations</td>
                    <td rowspan="2">Architect</td>

                    <td>SomeSoft</td>
                    <td>BioFruit</td>

                    <td class="text-right">8.00</td>
                    <td class="text-right">8.00</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">8</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">8</td>

                    <td class="text-right" rowspan="2">32.00</td>
                    <td class="text-right" rowspan="2">176</td>
                    <td class="text-right" rowspan="2">24.00</td>
                    <td class="text-right" rowspan="2">0.14</td>
                    <td class="text-right" rowspan="2">16.00</td>
                    <td class="text-right" rowspan="2">66.67%</td>

                    <td class="text-right">112.56</td>
                    <td>EUR</td>
                    <td class="text-right">1.95583</td>
                    <td class="text-right">3522.23</td>

                    <td class="text-right" rowspan="2">3522.23</td>
                    <td class="text-right" rowspan="2">220.14</td>
                    <td class="text-right" rowspan="2">1600.00</td>
                    <td class="text-right" rowspan="2">2057.89</td>
                    <td class="text-right" rowspan="2">200.00</td>

                    <td class="text-right">1693.42</td>

                    <td class="text-right" rowspan="2">2257.89</td>
                    <td class="text-right" rowspan="2">1264.34</td>
                    <td class="text-right" rowspan="2">0.36</td>
                </tr>
                <tr>
                    <td>Unassigned</td>
                    <td>Unassigned</td>

                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">8</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0.00</td>
                    <td>BGN</td>
                    <td class="text-right">1.00000</td>
                    <td class="text-right"></td>
                    <td class="text-right">564.47</td>
                </tr>
                <tr>
                    <td rowspan="1">Total</td>
                    <td rowspan="1"></td>
                    <td rowspan="1"></td>
                    <td rowspan="1"></td>
                    <td rowspan="1"></td>

                    <td rowspan="1"></td>
                    <td rowspan="1"></td>
                    <td rowspan="1"></td>
                    <td rowspan="1"></td>

                    <td></td>
                    <td></td>

                    <td class="text-right">8.00</td>
                    <td class="text-right">8.00</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">8</td>
                    <td class="text-right">8</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">0</td>
                    <td class="text-right">8</td>

                    <td class="text-right" rowspan="1">32.00</td>
                    <td class="text-right" rowspan="1">176</td>
                    <td class="text-right" rowspan="1">24.00</td>
                    <td class="text-right" rowspan="1">0.14</td>
                    <td class="text-right" rowspan="1">16.00</td>
                    <td class="text-right" rowspan="1">66.67%</td>

                    <td class="text-right"></td>
                    <td></td>
                    <td class="text-right"></td>
                    <td class="text-right"></td>

                    <td class="text-right" rowspan="1">3522.23</td>
                    <td class="text-right" rowspan="1">220.14</td>
                    <td class="text-right" rowspan="1">1600.00</td>
                    <td class="text-right" rowspan="1">2057.89</td>
                    <td class="text-right" rowspan="1">200.00</td>

                    <td class="text-right">2257.89</td>

                    <td class="text-right" rowspan="1">2257.89</td>
                    <td class="text-right" rowspan="1">1264.34</td>
                    <td class="text-right" rowspan="1">0.36</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>