<div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="page-header">
        <h1 class="text-center">{{ $root.title }}</h1>
    </div>
    <div v-if="summary" class="summary-container">
        <div class="row details-list">
            <dl class="col-sm-6">
                <dt>Email</dt>
                <dd>{{ summary.email }}</dd>
            </dl>
            <dl class="col-sm-6">
                <dt>Office</dt>
                <dd>{{ summary.office }}</dd>
            </dl>
            <dl class="col-sm-6">
                <dt>Sex</dt>
                <dd>{{ summary.sex }}</dd>
            </dl>
            <dl class="col-sm-6" v-if="summary.birthday">
                <dt>Birthday</dt>
                <dd>{{ summary.birthday }}</dd>
            </dl>
            <dl class="col-sm-6" v-if="summary.notes">
                <dt>Notes</dt>
                <dd>{{ summary.notes }}</dd>
            </dl>
        </div>
    </div>
</div>