<div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
    <div class="page-header">
        <h1 class="text-center">{{ $root.title }}</h1>
    </div>
    <button v-on:click="new" class="btn btn-default">New</button>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Office</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>{{ item.firstName }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.office }}</td>
                    <td class="actions-column">
                        <div class="btn-group btn-group-sm" role="group">
                            <a role="button" class="btn btn-default" v-link="'users/' + item.id">View</a>
                            <button type="button" class="btn btn-default" v-on:click="edit(item)">Edit</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<modal :show.sync="isEditing" backdrop="false" effect="fade" role="dialog">
    <div slot="modal-header" class="modal-header">
        <h4 class="modal-title">
            <button type="button" class="close" v-on:click="cancelEditing" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ editItem.title }}</h4>
        </h4>
    </div>
    <div slot="modal-body" class="modal-body">
        <validator name="validation">
            <form novalidate v-if="editItem.data">
                <div class="form-group" v-bind:class="{ 'has-error': $validation.firstName.invalid }">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" v-model="editItem.data.firstName" class="form-control"
                           detect-change="off" v-validate:first-name="editItem.rules.firstName" autofocus />
                    <span class="help-block" v-if="$validation.firstName.invalid">
                        {{ $validation.firstName.errors[0].message }}
                    </span>
                </div>
                <div class="form-group" v-bind:class="{ 'has-error': $validation.lastName.invalid }">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" v-model="editItem.data.lastName" class="form-control"
                           detect-change="off" v-validate:last-name="editItem.rules.lastName" />
                    <span class="help-block" v-if="$validation.lastName.invalid">
                        {{ $validation.lastName.errors[0].message }}
                    </span>
                </div>
                <div class="form-group" v-bind:class="{ 'has-error': $validation.office.invalid }">
                    <label for="office">Office</label>
                    <select id="office" v-model="editItem.data.office" class="form-control"
                           detect-change="off" v-validate:office="editItem.rules.office">
                        <option value="Berlin">Berlin</option>
                        <option value="London">London</option>
                        <option value="New York">New York</option>
                        <option value="Paris">Paris</option>
                        <option value="Rome">Rome</option>
                        <option value="Tokio">Tokio</option>
                        <option value="Washington">Washington</option>
                    </select>
                    <span class="help-block" v-if="$validation.office.invalid">
                        {{ $validation.office.errors[0].message }}
                    </span>
                </div>
            </form>
        </validator>
    </div>
    <div slot="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-default" v-on:click="cancelEditing">Cancel</button>
        <button type="button" class="btn btn-primary" v-if="editItem.isNew" v-on:click="create">Create</button>
        <button type="button" class="btn btn-primary" v-if="!editItem.isNew" v-on:click="update">Save</button>
    </div>
</modal>