body > .container {
    padding: 60px 15px 0;
}

.table tr > td.actions-column {
    width: 108px;
    min-width: 108px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.has-error .help-block {
    display: inline-block;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

.summary-container label {
    font-weight: normal;
    min-width: 100px;
    color: #666;
}

label.label-option {
    font-weight: normal;
}

.nav.nav-tabs {
    margin-bottom: 15px;
}

textarea#notes {
    height: 220px;
    resize: none;
}